.continer-center {
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.color-t {
  background-color: transparent;
}

.separed {
  border-color: black;
  border-radius: 5%;
  background-color: gray;
  height: 3px;
}

.text-cr {
  font-size: 15px;
}

.input-text {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 15px;
}

.input-text::selection {
  border-top: none;
  border-left: none;
  border-right: none;
}

.carri,
.cimg {
  width: 100%;
  height: auto;
}

.box-sh {
  box-shadow: 8px 10px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 10px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 10px 23px -6px rgba(0, 0, 0, 0.75);
}
